
.card {
    background: linear-gradient(to right, #410F6A, #2E1A6E);
    border-radius: 20px;
    padding-bottom:23px;
    padding-top:30px;
    font-family: Anta; 

    border: 5px solid #481C81;

    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    margin-bottom: 45px;

    align-items: center;
    
}

.avatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;

    margin: 0;
}

.card-title {
    font-size: 36px;
    color: #ffffff;
    margin: 0;
}

.card-subtitle {
    font-size: 24px;
    color: #B4B4B4;
    margin: 0;
}