h1.title {
    font-size: 75px;
    margin-top: 25px
}

.pagina-inteira {
    padding-bottom: 5%;
}

.conteudo-container {
    /* background-color: rgb(0, 84, 59); */
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 50px;
}