h1.title {
    font-size: 75px;
}

.pagina-inteira {
    padding-bottom: 5%;
}

.conteudo-container {
    /* background-color: rgb(0, 84, 59); */
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
}