
.hamburger-button {
  position: fixed;
  top: 5px;
  left: 1px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2001;
  color: #fff;
}

.hamburger-button:hover {
  background: linear-gradient(to right, #A48DFB, #C882F2, #E676C8);
  border-radius: 10px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px; /*esconde na esquerda*/
  width: 250px;
  height: 100vh;
  background-color: #111;
  color: white;
  padding-top: 60px;
  transition: left 0.3s ease;
  z-index: 2000;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.4);
}

.sidebar.open {
  left: 0; /* aparece */
}

/* Itens da lista */
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.hamburger-options {
  padding: 15px 20px;
  font-family: Anta;
  cursor: pointer;
  transition: background 0.3s ease;
  border-bottom: 1px solid #A48DFB;
}

.hamburger-options:hover {
  background: linear-gradient(to right, #729EFA, #A48DFB, #C882F2);
  
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}
